.button {
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  font-weight: bold;
  transition: .5s;

  &:not([disabled]) {
    &:focus {
      outline: 2px dotted #03e9f4;
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
    }

    &:hover {
      background: #03e9f4;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
    }
  }

  &[disabled] {
    color: gray;
    opacity: 0.9;
    cursor: not-allowed;

    &:hover {
      border-color: transparent;
    }
  }
}
